ul li{
    list-style: none !important;
}
ul li button::before{
    height: 20px;
    width: 20px;
    background-color:#75f194;
    list-style-type: none !important;
    border-radius: 10px;
    margin-top:50px;
}